

    <div class="sidebar">
      <div class="sidebar-wrapper">

        <ul class="nav">
        {% if current_user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          <li class="{% if 'bookings' in segment %} active {% endif %}">
            <a href="/ui-bookings.html">
              <i class="tim-icons icon-credit-card"></i>
              <p>Bookings</p>
            </a>
          </li>
          
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps.html">
              <i class="tim-icons icon-pin"></i>
              <p>Maps</p>
            </a>
          </li>
          <!--
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          -->
          <li>
            <a href="{{ url_for('authentication_blueprint.logout') }}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>

          {% endif %}
                    
        </ul>
        
      </div>
    </div>
